/*Oxygen and Raleway Font Imports*/
@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway');
/*font-family: 'Oxygen', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*ColorScheme:
   Maroon: #800000
   Ghost White:  #F7F9F9
   Dark Liver:  #54494B
   Rich Black: #000505
   Topaz: #F4CD76*/

body {
    font: 300 15px/1.6 'Oxygen', sans-serif;
    color: #000505;
    font-weight: bold;
    background-color: #F7F9F9;
    /*background-image: url("../img/WhiteBackground3.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
}

body, html {
  height: 100%;
}

nav img {
  max-width: 30px;
  max-height: 30px;
}
.pome {
    color: #F4CD76;
}

img {
    width: 100%;
    height: auto;
    /*box-shadow: 3px 4px 8px #222;*/
    border-radius: 10px;
}
a {
    color: black;
}
a:hover {
    color: #F4CD76;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 46px/1.2 'Oxygen', sans-serif;
    margin: 5px 0 5px;
}
h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 5px 0 15px;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h3 {
    color: #F4CD76;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 5px 0 15px;
    font-family: 'Oxygen', sans-serif;
    /*text-shadow: 1px 2px 3px #000;*/
}
h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
#services h4 {
    color: #F4CD76;
}
.about-item h5 {
    cursor: pointer;
    color: #000505;
}
a, .btn, .navbar, .form-control, .information-item-description {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}
.information-item-preview {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.btn, .panel, .progress, .form-control, .modal-content, .form-control:hover, .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn, .label, .alert, .avatar, .progress, .form-control, .modal-content, .panel-group .panel, .widget-social li a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.form-control {
    background: #F7F9F9;
    border: 2px solid #800000;
    height: 54px;
    font-size: 14px;
    padding: 15px;
    color: #000505;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 62px;
}
.input-sm, .form-horizontal .form-group-sm .form-control {
    height: 40px;
    font-size: 12px;
}
.btn {
    font-weight: 700;
    font-size: 14px;
    padding: 17px 27px;
    border: 0;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
    outline: inherit !important;
}
.btn .icon-before {
    margin-right: 6px;
}
.btn .icon-after {
    margin-left: 6px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 22px 24px;
    font-size: 14px;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 11px 18px;
    font-weight: 400;
    font-size: 12px;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 7px 14px;
    font-size: 10px;
}
.btn-list .btn {
    margin-bottom: 5px;
}
.btn-default {
    background: #54494B;
}

.btn-custom-2 {
    border: 2px solid #54494B;
    background-color: #800000;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
    background: #54494B;
    border: 2px solid #000505;
    color: #F4CD76;
}
.alert {
    border: 0;
}
/*
.progress {
    background: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 20px;
}
.progress-bar {
    background: #353535;
    box-shadow: none;
}*/
.nav-pills, .nav-tabs {
    margin-bottom: 20px;

}
.nav-pills>li>a {
    border-radius: 3px;
}
.nav-tabs>li>a {
    border-radius: 3px 3px 0 0;
}
.panel {
    border: 0;
}
.panel-body {
    background: #f5f5f5;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}
.modal-content {
    border: 0;
}
.label {
    padding: .2em .6em .2em;
    font-size: 70%;
}
.label-custom-1 {
    background: #EF4836;
}
.label-custom-2 {
    background: #222;
}
.wrapper {
    overflow: hidden;
}
.section, .callout {
    position: relative;
    padding: 55px 0;
}
section.callout {
    /*background: url("../img/techBackground.jpg");*/
    background-color: #000505;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
    /*font: 'Raleway', sans-serif;*/
}

.sectionpad {
  margin-top: 30px;
}

#products {
  color: #130526;
  height: 50vw;
  background: linear-gradient(to top left, #6c84a0, white);
}

#products h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #0f0f2a;
}

.displayHide {
  display:none;
}

.displayShow {
  display: inline-block;
}

.cardpad {
  margin-top: 16px;
}

#services {
    padding: 0;
    height: 50rem;
}
#services .fa {
    color: #000505;
}
.callout h3 {
    font-weight: bold;
    color: #F7F9F9;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.headline {
    margin: 0 0 60px;
}
.headline p {
    font-weight: 700;
    color: #000505;

}
.callout-btn {
    color: #F7F9F9;
    margin-top: 10px;
}
.rotate {
    text-shadow: 0 0 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.long-down {
    margin-bottom: 40px;
}
.icon-list {
    list-style: none;
    padding: 0px;
}
.icon-list>li>i {
    margin-right: 6px;
}
h3>.fa {
    font-size: 24px;
    margin-right: 6px;
}
.mouse-icon {
    position: relative;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin: 0 auto;
    display: block;
    z-index: 10;
}
.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #F4CD76;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}
@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}
.navbar {
    border-radius: 0;
    padding: 10px 0;
    text-transform: uppercase;
    color: #800000 !important;
    opacity: 1;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
    background: none;
    outline: 0;
    color: #F4CD76;
}
.navbar-custom .navbar-brand {
    font: 700 18px/1.2 'Oxygen', sans-serif;
    color: #F7F9F9;
}
.navbar-custom .navbar-nav>li.active {
    border-bottom: 3px solid #F7F9F9;
}
.navbar-custom .navbar-toggle .icon-bar {
    background: red;
}
.navbar-custom .navbar-nav>li>a, .navbar-custom .navbar-nav .dropdown-menu>li>a {
    color: #F7F9F9;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
}
.navbar-color, .custom-collapse {
    background: rgba(0,5,5,.82);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    padding: 0;
    border-bottom: 3.5px solid #F4CD76;
}
.navbar-color .navbar-brand, .custom-collapse .navbar-brand, .navbar-color .navbar-nav>li>a, .navbar-color .navbar-nav .dropdown-menu>li>a, .custom-collapse .navbar-nav>li>a, .custom-collapse .navbar-nav .dropdown-menu>li>a {
    color: #F7F9F9;

}
.navbar-color .navbar-nav>li.active {
    border-bottom: 3.5px solid #F4CD76;
}
.custom-collapse .navbar-nav {
    text-align: left;
}
.custom-collapse .navbar-nav>li.active {
    border: 0;
}
.navbar-color .navbar-toggle .icon-bar, .custom-collapse .navbar-toggle .icon-bar {
    background: #F4CD76;
}


#intro {
    padding: 200px 0 140px 0;
    text-align: center;
    color: #F7F9F9;
    background: url("../img/nightskycartoon.jpg");
    background-color: #000033;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /*border-bottom: 3.5px solid rgb(244, 205, 118);*/
}
#intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #red;
}
#intro h3 {
    color: #F7F9F9;
    font-family: 'Raleway', sans-serif;
}

#team {
      /* border-bottom: 3.5px solid rgb(244, 205, 118); */
      background-color: #6c84a0;
      background: radial-gradient(#6c84a0 45%, #395875);
}

#about {
  padding-top: 60px;
      color: white;
      height:50vw;
      background-color: #395875;
      background: radial-gradient(#395875 45%, #6c84a0);
}

#about h3 {
    color: white;
    padding-bottom: 1rem;
}

.team-title span{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #0f0f2a;
  /* color: ##0f0f2a; */
  border-bottom: 2px solid #F4CD76;
}



.sub-h3 {
      /* color: #F4CD76; */
      font-size: 1.5rem;
      font-weight: bolder;
      margin: 5px 0 15px;
      font-family: 'Oxygen', sans-serif;
      /*text-shadow: 1px 2px 3px #000;*/
}

#studentFinder span {
  font-size: 2.8rem;
  position: relative;
  left: -316px;
  bottom: 23px;
}

#studentFinder {
  color: #ffd902;
  background-color: #000033;
}

#attendance {
  color: #ffd902;
  background-color: #000033;
}

#gradebook {
  color: #ffd902;
  background-color: #000033;
}

#attendance span {
    font-size: 2.8rem;
    position: relative;
    left: -296px;
    bottom: 20px;
}

#gradebook span {
    font-size: 2.8rem;
    position: relative;
    left: -296px;
    bottom: 23px;
}

#studentFinderContent span {
    border-bottom: 2px solid #F4CD76;
    font-weight: bolder;
}

#attendanceContent span {
  border-bottom: 2px solid #F4CD76;
  font-weight: bolder;
}

#gradebookContent span {
  border-bottom: 2px solid #F4CD76;
  font-weight: bolder;
}

.headshot-card {
  margin:0px 30px 0px 30px;
  width: 12%;
}

.card-img {
  border-radius: 80px;
}

.leftText {
  text-align: end;
}

#mission {
  margin-top: 50px;
}

.hello {
    margin: 0 0 15px;
}
.page .widget-social li a {
    background: #F4CD76;
}
#about-contact {
    padding: 20px 0;
    /* border-top: 5px solid #F4CD76; */
}
.about-item i {
    display: block;
    line-height: 42px;
    font-size: 32px;
    color: #800000;
}
.conInfo{
}
.about-widget {
    margin-bottom: 40px;
}
.widget-social {
    padding: 0;
    margin: 0;
}
.widget-social li {
    display: inline-block;
    margin-right: 5px;
}
.widget-social li a {
    background: #800000;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    color: #F7F9F9;
}
.widget-social li a:hover {
    background: #54494B;
}
.service {
    margin: 0 0 40px;
}
.service .icon {
    font-size: 32px;
    margin: 0 0 5px;
    color: red;
}
.owl-theme .owl-item {
    text-align: center;
}
.owl-theme .owl-controls .owl-page span {
    margin: 0 4px;
}
.owl-theme .owl-controls .owl-page span {
    border-radius: 0;
    width: 40px;
    height: 4px;
}
.owl-theme .owl-controls .owl-pagination {
    margin-top: 20px;
}

.information-item {
  color: #F7F9F9;
  width: auto;
  height: 20rem;
    -webkit-margin-bottom: 20px;
    -moz-margin-bottom: 20px;
    -ms-margin-bottom: 20px;
    -o-margin-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.information-item-preview {
    position: relative;
    text-align: center;
}
.information-item:hover .information-item-preview {
  color: white;
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.3) rotate(3deg);
    -ms-transform: scale(1.3) rotate(3deg);
    -o-transform: scale(1.3) rotate(3deg);
    transform: scale(1.2) rotate(3deg);
}
.information-item:hover .information-item-description {
    color: #F7F9F9;
    background-color: #000505;
    opacity: 1;
    bottom: 0;
}
.information-item-description {
    background: rgba(211, 168, 0, .8);
    /*background: red;*/
    position: absolute;
    right: 0;
    bottom: -70px;
    left: 0;
    padding: .75rem;
    text-align: center;
    opacity: 0;
    color: #F7F9F9;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 2px #54494B;
}
.information-item-description h3
{
  color: #F7F9F9;
}
#information, #team, #services {
  padding: 5rem;
}

/*#information::before, #about::before, #services::before, #contact::before{
  content:"";
  position: absolute;
  top:0;
  left:50%;
  width: 40%;
  height: 1px;
  margin-left: -20%;
  background: #800000;
}*/

.separator{
  padding-top: 5rem;
}

#information img {
  width: 100%;
}

/*#contact {
    background: #800000;
    color: red;
    padding: 0;*/
    /*background-image: url("../img/WhiteBackground3.jpg");*/
}
/*#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
    color: #FFF;
}
#contact .form-control {
    border: 0;
}*/
.ajax-response {
    margin-top: 15px;
}
#footer {
    text-align: center;
    background-color: #130526;
    padding: 20px 0;
    color: #F7F9F9;
}
#footer .copy {
    font-size: 12px;
    margin: 5px 0;
}
@media (max-width: 767px) {
    .wrapper {
        text-align: center;
    }
    #about-contact .about-item {
        margin: 0 0 20px;
    }
    #stats .stat {
        margin: 0 0 20px;
    }

}
.map {
    background: #18191a;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*svg animation */

/*cloud animation*/
.cloud {
  background-image: url('http://cmagruder.me/content/home/clouds.png');
  background-position: 0px 0px;
	background-repeat: repeat-x, repeat-y;
  background-size: cover;
  height: 100%;
  opacity: 0.8;
  animation: cloud 100s linear infinite;
}

@keyframes cloud {
   100% { background-position: -1900px; }
}

/*Bear Icon*/
#bearIcon {
  position: relative;
  top: -51px;
  /*filter: drop-shadow( 1px 5px 2px #000 );*/
  animation: bearStartAnimation 4s;
}

@keyframes bearStartAnimation {
  from {
    top: -200px;
    /*filter: drop-shadow( 0px 0px 0px #FFF);*/
  }
  to {
    top: -51px;
    /*filter: drop-shadow( 1px 5px 2px #000 );*/
  }
}

#layer1{
  stroke-dasharray: 350;
  stroke-dashoffset: -350;
  animation: draw-right 3s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  stroke: white;
}

#layer3 {
  stroke-dasharray: 350;
  stroke-dashoffset: -350;
  animation: draw-left 3.3s ease-in reverse;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  stroke: white;
}

.leftEye {
  stroke-dasharray: 35;
  stroke-dashoffset: -35;
  animation-fill-mode: forwards;
  animation: draw-leftEye 2s forwards;
  animation-delay: 4s;
  stroke: white;
}

.rightEye {
  stroke-dasharray: 35;
  stroke-dashoffset: -35;
  animation-fill-mode: forwards;
  animation: draw-leftEye 2s forwards;
  animation-delay: 4s;
  stroke: white;
}

.middleEye {
  stroke-dasharray: 25;
  stroke-dashoffset: 0;
  animation-fill-mode: forwards;
  animation: draw-middleEye 5s reverse;
  stroke: white;
}

@keyframes draw-right {
  from {
    stroke-dashoffset: -350;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-left {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 350;
  }
}

@keyframes draw-leftEye {
  from {
    stroke-dashoffset: -35;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-middleEye {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 25;
  }
}

@keyframes draw-rightEye {
  from {
    stroke-dashoffset: -35;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.scTitle {
  opacity: 1.0;
  animation: scTitleFadeIn 6s ease-in;
}

@keyframes scTitleFadeIn {
  0% {
    opacity: 0.0;
  }
  60% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

.menu-fadeIn {
   opacity: 1.0;
   animation: menuFadeIn 6s ease-in;
}

@keyframes menuFadeIn {
  0% {
    opacity: 0.0;
  }
  60% {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
